extends ../ui-wrapper

block content
  include ../common

  - const SECTION_CLASS = ['col-12', 'col-xl-11', 'm-auto'];

  .row
    div(class=SECTION_CLASS)
      +bordered-block('agility', 2)
        .ActionWorkflowsCore-d-tbl.mb-3
          div(v-scope="AutoId()")
            label.font-weight-normal.font-size-sm.mr-1(:for="generatedId") Workflow name
            div
              input.form-control.form-control-sm(:id="generatedId", v-model="workflow.name")
        .text-right
          +btn('success')(@click="save") Save

  .row.row-deck
    div(v-for="(step, idx) in workflow.steps", :key="step.listId", v-scope="renderNewStep(step, idx)", class=SECTION_CLASS)

    div(class=SECTION_CLASS)
      +block-div()
        pre.col-12.text-light {{JSON.stringify(workflow.toJSON(), null, 2)}}
