extends ../ui-wrapper

block content
  include ../../common

  .row(@vue:mounted="onMount")
    .col-12.col-xl-11.m-auto
      .block.block-rounded
        .block-content(v-if="workflows.length")
          div(v-if="editedWorkflow", v-scope="renderEditor()")
          div(v-else)
            //- Workflow select & actions
            .row
              .col-auto.font-w600.font-size-sm.pr-1 Active Workflow:
              .col-auto
                select.form-control(v-model="activeWorkflowId")
                  option(v-for="wf in workflows", :key="wf.listId", :value="wf.listId") {{wf.name}}

              .col-auto(v-if="activeWorkflow")
                +btn('danger', 'sm')(@click="resetActive", v-if="running") Stop
                .btn-group.btn-group-sm(v-else)
                  +btn('success')(@click="exec") Run
                  +btn('primary')(@click="startEditing") Edit
                  +btn('danger')(@click="rmWorkflow") Delete

            .block.block-rounded.border-top.border-4x.mt-2(v-if="activeWorkflow", :class="borderClass")
              .block-content
                .row.row-deck
                  .col-auto(v-for="step in activeWorkflow.steps", :key="step.listId", v-scope="DashboardStep({step: step})")

        .block-content(v-else, v-scope="NoDashboardsDefined()")
