include ../../../common

+bordered-block('summoning', 4)
  table.table.table-sm.font-size-sm
    tbody
      tr
        +td()(class='font-w600') Trigger
        +td()(v-scope="TriggerSelect()")

      tr(
        v-for="opt in triggerOptions",
        :key="optKey(opt)",
        v-scope="renderNodeOption(opt)",
        @vue:mounted="onOptionMount(opt, $el)"
      )

  +bordered-block('thieving')
    .font-size-sm.font-w600 Actions

    .row.row-deck
      .col-12.col-xl-auto(v-for="(action, idx) in step.actions", :key="actionOptKey(action, step.actions.length, idx)", v-scope="renderAction(action, step.actions.length, idx)")

    .text-right
      .btn-group.btn-group-sm
        +btn('success')(@click="step.addAction") Add Action
        +btn('success')(v-if="showAdd", @click="workflow.addStep") Add step
        +btn('danger')(v-if="showRemove", @click="workflow.rmStep(step)") Remove Step
