$colour-err: #e56767;

.ActionWorkflowsCore- {
  &font-sized {
    width: 1rem;
    height: 1rem;
  }

  &d-tbl {
    display: table;
    width: 100%;

    > div {
      display: table-row;

      > div {
        display: table-cell;
      }
    }
  }

  &err-render {
    display: none;
  }

  &touched {
    .ActionWorkflowsCore-f-invalid {
      .form-control {
        border-color: $colour-err;
      }

      .ActionWorkflowsCore-form-control-text {
        color: $colour-err;
      }
    }

    .ActionWorkflowsCore-err-render {
      display: block;
    }
  }
}
