$colour-err: #e56767;

.ActionWorkflowsCore- {
  &list-mh {
    max-height: 400px;
    overflow-y: auto;
  }

  &font-sized {
    width: 1rem;
    height: 1rem;
  }

  &point {
    cursor: pointer;
  }

  // The game's !important css makes it impossible to override the colour or width
  &bordered {
    border: 1px solid;
  }

  &underdot {
    border-bottom: 1px dotted #fff;
  }

  &undecorate {
    text-decoration: none;
  }

  &d-inline-tbl {
    display: inline-table;

    > div {
      display: table-row;

      > div {
        display: table-cell;
      }
    }
  }

  &err-render {
    display: none;
  }

  &touched {
    .ActionWorkflowsCore-f-invalid {
      .form-control {
        border-color: $colour-err;
      }

      .ActionWorkflowsCore-form-control-text {
        color: $colour-err;
      }
    }

    .ActionWorkflowsCore-err-render {
      display: block;
    }
  }
}
