include ../../common

+bordered-block('summoning', 4)
  +bordered-block('fishing', 2)
    .ActionWorkflowsCore-d-tbl
      div
        .font-w600.font-size-sm.mr-1 Trigger
        div(v-scope="TriggerSelect()")

      div(v-for="opt in triggerOptions", :key="optKey(opt)", v-scope="renderNodeOption(opt)")

  +bordered-block('thieving')
    .font-size-sm.font-w600 Actions

    .row.row-deck
      .col-12.col-xl-6(v-for="(action, idx) in step.actions", :key="action.listId", v-scope="renderAction(action, idx)")

    .text-right
      .btn-group.btn-group-sm
        +btn('success')(@click="step.addAction") Add Action
        +btn('success')(v-if="showAdd", @click="workflow.addStep") Add step
        +btn('danger')(v-if="removable", @click="workflow.rmStep(step)") Remove Step
