input.form-control.form-control-sm(
  type="number",
  :value="value ?? ''",
  :max="opt.max ?? ''",
  :min="opt.min ?? ''",
  :step="opt.step ?? ''",
  :required="opt.required",
  @input="onInput($event.target.value)"
)
